*{
  margin: 0;
  padding: 0;
  outline: 0;
}
::selection {
  background-color: #3FBCF6;
}
body{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}
.comment{
  color: wheat;
  font-size: 1vw;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  row-gap: 4vw;
}
.frame{
  display: flex;
  margin: 0 auto;
  width: 119.14em;
  height: 66.56em;
  background-color: #EDEDED;
  border: 0.2vw solid #B7DEEE;
  border-radius: 1%;
  flex-direction: column;
  justify-content: center;
}
.screen{
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 98%;
  margin: 0 auto;
  background-color: #1E1E1E;
  justify-content: center;
}
.case{
  display: flex;
  flex-direction: column;
  width: 42%;
  height: 75.5%;
  margin: 0 auto;
  margin-top: 2.5%;
}
.slider{
  display: flex;
  width: 100%;
  height: 100%;
}
.img{
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10%;
}
.img0{
  background-image: url('../img/1.png');
}
.img1{
  background-image: url('../img/1.png');
}
.img2{
  background-image: url('../img/2.png');
}
.img3{
  background-image: url('../img/3.jpeg');
}
.img4{
  background-image: url('../img/4.png');
}
.text-control{
  display: flex;
  height: 20%;
  justify-content: space-between;

}
.text{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: center;
  overflow: hidden;
}
.text-inside{
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  letter-spacing: 0.07em;
}
.control-panel{
  display: flex;
  height: 100%;
}
.panel{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
}
label{
  display: flex;
  width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
}

.dot{
  display: flex;
  height: 3em;
}
.d1,
.d2,
.d3,
.d4{
  width: 50%;
  height: 50%;
  display: flex;
  background-color: #3FBCF6;
  border-radius: 50%;
}

label{
 cursor: pointer;
}
label:hover .d{
  background-color: #FFFFFF;
}

.dot1{
  background-color: #000000;
  border: 0.2vw solid #3FBCF6;
}
.slider-move{
  overflow: hidden;
}
.move{
  animation: move 0.2s linear forwards;
}
@keyframes move{
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
.linkToGitHub{
  display: flex;
  margin: 0 auto;
  font-size: 1.6vw;
}
a{
  color: #000000;
  text-decoration: none;
}
.img{
  visibility: hidden;
  opacity: 0;
  transition: transform 1s ease;
}
.text-inside1,
.text-inside2,
.text-inside3,
.text-inside4{
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 1s ease;
}

#radio1:checked ~ .text-control .text .text-inside1 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(0%);
}
#radio1:checked ~ .slider .img1 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(-100%);
}
#radio1:checked ~ .text-control .control-panel .panel .dot label .d1{
  background-color: #000000;
  border: 0.1em solid #3FBCF6;
}
#radio1:checked ~ .text-control .control-panel .panel .dot label .d1:hover{
  background-color: #000000;
  border: 0.1em solid #FFFFFF;
}

#radio2:checked ~ .text-control .text .text-inside2 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(0%);
}
#radio2:checked ~ .slider .img2 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(-200%);
}
#radio2:checked ~ .text-control .control-panel .panel .dot label .d2{
  background-color: #000000;
  border: 0.1em solid #3FBCF6;
}
#radio2:checked ~ .text-control .control-panel .panel .dot label .d2:hover{
  background-color: #000000;
  border: 0.1em solid #FFFFFF;
}

#radio3:checked ~ .text-control .text .text-inside3 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(0%);
}
#radio3:checked ~ .slider .img3 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(-300%);
}
#radio3:checked ~ .text-control .control-panel .panel .dot label .d3{
  background-color: #000000;
  border: 0.1em solid #3FBCF6;
}
#radio3:checked ~ .text-control .control-panel .panel .dot label .d3:hover{
  background-color: #000000;
  border: 0.1em solid #FFFFFF;
}

#radio4:checked ~ .text-control .text .text-inside4 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(0%);
}
#radio4:checked ~ .slider .img4 {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateX(-400%);
}
#radio4:checked ~ .text-control .control-panel .panel .dot label .d4{
  background-color: #000000;
  border: 0.1em solid #3FBCF6;
}
#radio4:checked ~ .text-control .control-panel .panel .dot label .d4:hover{
  background-color: #000000;
  border: 0.1em solid #FFFFFF;
}



@media (max-width: 2000px){ /*------------------------------------ max 2000px*/

  .frame{
    width: 96%;
    height: 55vw;
  }

  .case{
    display: flex;
    width: 42%;
    height: 40vw;
    margin: 0 auto;
    margin-top: 2.5%;
  }
  .screen{
    justify-content: center;
  }
}

@media (max-width: 1439px){  /* ---------------------- max 1439px */
  main{
    flex-direction: column;
    justify-content: center;
    row-gap: 2vw;
  }
  .frame{
    width: 30.65%;
    height: 55vw;
    border-radius: 2%;
}
.case{
  width: 92%;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
}
.screen{
  width: 97%;
  height: 98%;
  justify-content: center;
}
.slider{
  width: 100%;
  height: 27vw;
}
.text-control{
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
  flex-direction: column;
}
.text{
  display: flex;
  width: 100%;
  padding-left: 2vw;
  line-height: 2.4vw;
  overflow: hidden;
  order: 2;
}
.text-inside{
  font-size: 1.6vw;
}
.control-panel{
  display: flex;
  width: 15vw;
  height: 5vw;
  justify-content: center;
  align-self: center;
  order: 1;
}
.panel{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
.dot{
  width: 5vw;
  height: 4vw;
}
label{
  width: 100%;
  height: 5vw;
  line-height: 3vw;
  text-align: center;
}
.d1,
.d2,
.d3,
.d4{
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
}

.dot1,
.dot2,
.dot3,
.dot4{
  width: 50%;
  height: 50%;
  display: flex;
  background-color: #3FBCF6;
  border-radius: 50%;
}
.dot1{
  background-color: #000000;
  border: 0.2vw solid #3FBCF6;
}

.linkToGitHub{
  height: 1vw;
  display: flex;
  align-items: center;
  font-size: 1.6vw;
  text-align: center;
}
}
