*{
  margin: 0;
  padding: 0;
  outline: 0;
}
::selection {
  background-color: #3FBCF6;
}
body{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  row-gap: 4vw;
}
.frame{
  display: flex;
  margin: 0 auto;
  width: 119.14em;
  height: 66.56em;
  background-color: #EDEDED;
  border: 0.2vw solid #B7DEEE;
  border-radius: 1%;
  flex-direction: column;
  justify-content: center;
}
.screen{
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 98%;
  margin: 0 auto;
  background-color: #1E1E1E;
  justify-content: center;
}
.case{
  display: flex;
  width: 42%;
  height: 75.5%;
  margin: 0 auto;
  margin-top: 2.5%;
}
.slider{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('../img/1.png');
  background-size: cover;
  border-radius: 10%;
}
.text-control{
  display: flex;
  width: 40.4%;
  height: 20%;
  margin: 0 auto;
  justify-content: space-between;

}
.text{
  display: flex;
  width: 60%;
  align-self: center;
  overflow: hidden;
}
.text-inside{
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  letter-spacing: 0.07em;
}
.control-panel{
  display: flex;
  height: 100%;
  justify-content: flex-end;
}
.panel{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
.dot{
  width: 3.75em;
  height: 3.75em;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.dot:hover{
cursor: pointer;
}
.dot1,
.dot2,
.dot3,
.dot4{
  width: 50%;
  height: 50%;
  display: flex;
  background-color: #3FBCF6;
  border-radius: 50%;
}
.d2:hover .dot2,
.d3:hover .dot3,
.d4:hover .dot4{
 background-color: #FFFFFF;
}
.dot1{
  background-color: #000000;
  border: 0.2vw solid #3FBCF6;
}
.d1:hover .dot1{
  border-color: #FFFFFF;
}
.slider-move{
  overflow: hidden;
}
.move{
  animation: move 0.2s linear forwards;
}
@keyframes move{
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
.linkToGitHub{
  display: flex;
  margin: 0 auto;
  font-size: 1.6vw;
}
a{
  color: #000000;
  text-decoration: none;
}

@media (max-width: 2000px){ /*------------------------------------ max 2000px*/

  .frame{
    width: 96%;
    height: 55vw;
  }

  .case{
    display: flex;
    width: 42%;
    height: 40vw;
    margin: 0 auto;
    margin-top: 2.5%;
  }
  .screen{
    justify-content: center;
  }
}

@media (max-width: 1439px){  /* ---------------------- max 1024 */
  main{
    flex-direction: column;
    justify-content: center;
    row-gap: 2vw;
  }
  .frame{
    width: 30.65%;
    height: 55vw;
    border-radius: 2%;
}
.case{
  width: 92%;
  height: 27vw;
  margin: 0 auto;
}
.screen{
  width: 97%;
  height: 98%;
  justify-content: center;
}
.slider{
  width: 100%;
  height: 27vw;
}
.text-control{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.text{
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 2vw;
  line-height: 3.4vw;
  overflow: hidden;
  order: 2;
}
.text-inside{
  font-size: 1.6vw;
}
.control-panel{
  display: flex;
  height: 5vw;
  align-self: center;
  order: 1;
}
.panel{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
.dot{
  width: 2vw;
  height: 2vw;
}

.dot1,
.dot2,
.dot3,
.dot4{
  width: 50%;
  height: 50%;
  display: flex;
  background-color: #3FBCF6;
  border-radius: 50%;
}
.dot1{
  background-color: #000000;
  border: 0.2vw solid #3FBCF6;
}
.d1:hover .dot1{
  border-color: #FFFFFF;
}
.linkToGitHub{
  height: 1vw;
  display: flex;
  align-items: center;
  font-size: 1.6vw;
  text-align: center;
}
}
