@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  --backside-color: #b3bcc3;
  --shadow-color: #6e85946e;
  --border-color: #e5e9ed59;
  --border-info-color: #c5ccd2;
  --border-info-color-hover: #00000022;
  --text-color: #383838;
}

* { 
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--backside-color);
  font-family: 'Roboto' , Helvetica, Arial, sans-serif;
  color: var(--text-color);
}

.wrapper {
  position: relative;
  display: flex;
  width: 60%;  
  max-width: 1640px;
  min-width: 1000px;
  margin: 3% auto;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 80px var(--shadow-color);
  border-radius: 7%;
  border: 2px solid var(--border-color);
}

.backside-image {
  width: 100%;
  height: 1500px;
  background-image: url('../assets/image/image.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--border-color);
  border-radius: 7%;
  opacity: 0.7;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 520px;
}

nav {
  position: relative;
  font-size: 1.1rem;
}

.list-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: -200px;
  gap: 30px;
}

.info-link {
  display: flex;
  width: 198px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--backside-color);
  border-bottom-left-radius: 10px;
  border-bottom: 3px solid var(--border-info-color);
  border-left: 3px solid var(--border-info-color);
  border-top-left-radius: 10px;
  box-shadow: -7px 4px 4px 5px var(--shadow-color);
  cursor: pointer;
  transition: border 0.15s ease-in, box-shadow 0.15s ease-in;
}

.info-link:hover {
  border: 2px solid #00000022;
  box-shadow: inset -2px -2px 16px 0px var(--border-info-color-hover)
}

.my-photo {
  position: absolute;
  top: 200px;
  right: 126px;
  width: 330px;
  height: 305px;
  background-image: url(../assets/image/my-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25%;
  box-shadow: inset -2px -2px 105px 5px var(--shadow-color);
  border: 7px solid var(--border-color);
}

.info-about-me {
  display: flex;
  width: 100%;
  margin-left: 155px;
  flex-direction: column;
}

.name {
  font-size: 2.5rem;
  margin: 275px 0 20px 0;
}

.line {
  display: flex;
  width: 36%;
  height: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--border-info-color);
  border-radius: 40%;
  font-size: 2rem;
  color: #ffffff99
}

.position {
  font-size: 1.5rem;
  margin: 10px 0 20px 0;
}

main {
  position: absolute;
}