@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/arial-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/arial-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia/georgia-regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia/georgia-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

*{
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 24px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3796px;
  background-color: #FFFFFF;
}

 .under-cover{
  position: relative;
  width: 100%;
  height: 908px;
  background-color: #211F20;
  background-image:  url('../img/bg-gradient.png'), url('../img/c5b8a886026e848cb10cec0e5f7245d0.png');
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
 }

.start-screen{
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 908px;
}

header{
  position: absolute;
  top: 30px;
  width: 1200px;
  height: 60px;
  margin: 0 3.1%;
}

header nav{
  position: absolute;
  display: flex;
  width: 443px;
  height: 27px;
  top: 16px;
  right: 0;
}

.logo{
  display: flex;
  width: 186px;
  height: 60px;
}

.logo a{
  position: relative;
  width: 100%;
  height: 100%;
}

.logo h1{
  position: absolute;
  top: 0;
  left: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.5px;
  letter-spacing: 1.92px;
  color: #F1CDB3;
}

.logo p{
  position: absolute;
  bottom: 0;
  left: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 1.3px;
  color: #FFFFFF;
}

.nav-menu{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 443px;
  height: 27px;
  list-style: none;
  right: 0;
  top: 0;
  font-size: 15px;
  line-height: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.nav-menu-2,
.nav-menu-3,
.nav-menu-4{
  color: #CDCDCD;
  transition: all 0.4s ease;
}

.nav-menu-2:hover,
.nav-menu-3:hover,
.nav-menu-4:hover{
  color: #FAFAFA;
}

.nav-menu-1{
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
  cursor: default;
  width: 114px;
  height: 27px;
}

.nav-menu-2,
.nav-menu-3,
.nav-menu-4{
  width: 114px;
  height: 24px;
}

li{
  white-space: nowrap;
}

.menu-burger{
  position: absolute;
  display: none;
}

.start-screen-content{
  position: absolute;
  width: 1200px;
  height: 728px;
  bottom: 0px;
  margin: 0 40px;
}

.content{
  position: absolute;
  width: 460px;
  height: 322px;
  bottom: 243px;
  left: 0;
}

.start-screen-puppy{
  position: absolute;
  width: 698px;
  height: 728px;
  right: 0;
  bottom: 0px;
  background-image: url('../img/f746a683887b0e363f7fdf5b80559e0b.png');
}

.content .heading{
  position: absolute;
  top: 0px;
  left: 0;
  font-family: Georgia;
  font-size: 44px;
  line-height: 57.2px;
  font-weight: 100;
  color: #FFFFFF;
}

.content .subheading{
  position: absolute;
  width: 100%;
  height: 72px;
  bottom: 94px;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.content-button{
  position: absolute;
  width: 207px;
  height: 52px;
  padding: 15px 45px;
  left: 0;
  bottom: 0;
  background-color: #F1CDB3;
  color: #292929;
  border-radius: 100px;
  border: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
  font-weight: 400;
  z-index: 4;
}

.content-button:hover{
  background-color: #FDDCC4;
  cursor: pointer;
}

.about{
  position: relative;
  width: 1280px;
  height: 588px;
  background-color: #FFFFFF;
}

.about-content{
position: absolute;
width: 1200px;
height: 408px;
left: 40px;
top: 80px;
z-index: 2;
}

.about-pets{
  position: absolute;
  width: 300px;
  height: 408px;
  left: 175px;
  background-image: url('../img/de200ad351db707bd7878caaee2f7b79.png');
}

.about-pets-content{
  position: absolute;
  width: 430px;
  height: 380px;
  left: 595px;
  bottom: 14px;
}

.pets-button-primary{
  position: absolute;
  bottom: 0;
  left: 470px;
  width: 261px;
  height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  border: 0;
  color: #292929;
  background-color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
  white-space: nowrap;
  transition: all 0.4s ease;
  z-index: 4;
}

.pets-button-primary:hover{
  cursor: pointer;
  background-color: #FDDCC4;
}

.content-head h3{
  position: absolute;
  width: 370px;
  height: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;
  color: #545454;
}

.about-text-first,
.about-text-second{
  position: absolute;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}

.about-text-first{
  top: 115px;
  height: 96px;
}
.about-text-second{
  bottom: 0;
  height: 144px;
}

.our-frend-cover{
  position: relative;
  width: 100%;
  height: 877px;
  background-color: #F6F6F6;
}

.pets{
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 877px;
  background-color: #F6F6F6;
}

.modal-window-example-1280{
  display: none;
  position: fixed;
  width: 1280px;
  height: 877px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 8;
}

.modal-window-1280{
  position: absolute;
  width: 952px;
  height: 552px;
  top: 136px;
  left: -9999px;
  z-index: 8;
}

@keyframes newPosition {
  0%{
    left : -9999px;
  }
  100%{
    left : 190px;
  }
}

.modal-window-1280.visible {
  animation: newPosition 0.2s ease forwards;
}

.modal-close-button{
  position: absolute;
  text-align: center;
  line-height: 51px;
  width: 52px;
  height: 52px;
  top: 0;
  right: 10px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: rgba(228, 191, 164, 0.177);
}

.modal-close-button:hover{
  cursor: pointer;
  background-color: #F1CDB3;
}

.modal-window{
  position: absolute;
  width: 900px;
  height: 500px;
  left: 300;
  bottom: 0;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 10px;
  z-index: 9;
  background-color: #FAFAFA;
}

.pets-name{
  position: absolute;
  width: 500px;
  height: 500px;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 11;
}

.pets-name img{
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.pets-content{
  display: flex;
  position: absolute;
  width: 1200px;
  height: 697px;
  top: 80px;
  left: 40px;
}

.modal-window-content{
  position: absolute;
  width: 351px;
  height: 362px;
  top: 50px;
  right: 20px;
}

.modal-window-title{
  position: absolute;
  width: 145px;
  height: 45px;
  top: 0;
  left: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;
  color: #000000;
}

.modal-window-subtitle{
  position: absolute;
  width: 151px;
  height: 23px;
  top: 55px;
  left: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.2px;
  white-space: nowrap;
  color: #000000;
}

.modal-window-text{
  position: absolute;
  width: 350px;
  height: 102px;
  top: 118px;
  left:  1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.8px;
}

.modal-window-list{
  position: absolute;
  width: 154px;
  height: 102px;
  left: 1px;
  bottom: 0;
}

.modal-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 1px;
}
.modal-list li{
  position: relative;
  left: -8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.8px;
  color: #000000;
  white-space: nowrap;
}

.modal-list li span{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.8px;
  color: #000000;
}
.modal-list li::marker{
  color: #F1CDB3;
}

.our-friends h3{
  position: absolute;
  text-align: center;
  width: 400px;
  height: 90px;
  top: 0;
  left: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;
  color: #545454;
}

.pets-slider{
  position: absolute;
  width: 1200px;
  height: 435px;
  top: 150px;
  left: 0;
}

.button-arrow-left{
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: #F6F6F6;
  top: 192px;
  left: 0;
  transition: all 0.4s ease;
}

.arrow-left{
  position: absolute;
  width: 14px;
  height: 6px;
  top: 22px;
  left: 18px;
  background-image: url(../img/Arrow.svg);
  z-index: 5;
}

.button-arrow-left:hover{
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.arrow-left:hover ~ .button-arrow-left{
  cursor: pointer;
  background-color: #FDDCC4;
}

.arrow-left:hover{
  cursor: pointer;
}

.button-arrow-right{
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: #F6F6F6;
  top: 192px;
  right: 0;
  transition: all 0.4s ease;
}

.arrow-right{
  position: absolute;
  width: 14px;
  height: 6px;
  top: 22px;
  right: 18px;
  background-image: url(../img/Arrow.svg);
  transform: rotate(180deg);
  z-index: 5;
}

.button-arrow-right:hover{
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.arrow-right:hover ~ .button-arrow-right{
  cursor: pointer;
  background-color: #F1CDB3;
}

.arrow-right:hover{
  cursor: pointer;
}

.card-one{
  position: absolute;
  width: 270px;
  height: 435px;
  top: 0;
  left: 105px;
  overflow: hidden;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: transform 0.4s ease;
}

.card-three:hover .input-button-secondary-three,
.card-two:hover .input-button-secondary-two,
.card-one:hover  .input-button-secondary{
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  }

.card-one:hover,
.card-two:hover,
.card-three:hover{
background-color: #FFFFFF;
cursor: pointer;
box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.picture-name{
  position: absolute;
  width: 74px;
  height: 23px;
  top: 300px;
  left: 98px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #545454;
  z-index: 6;
}

.input-button-secondary{
  position: absolute;
  width: 187px;
  height: 52px;
  top: 353px;
  left: 41.5px;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  border-radius: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #292929;
  transition: all 0.4s ease;
  z-index: 6;
}

.card-two{
  position: absolute;
  width: 270px;
  height: 435px;
  top: 0;
  left: 465px;
  border-radius: 9px;
  background-color: #FAFAFA;
  overflow: hidden;
  transition: all 0.6s ease;
}

.picture,
.picture-two,
.picture-three{
  position: absolute;
  width: 23px;
  height: 74px;
  top: 0;
  left: 0;
  z-index: 5;
}

.pets-slider img{
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  transition: transform 0.4s ease;
}

.picture img,
.picture-two img,
.picture-three img{
  transition: transform 0.4s ease;
}

.picture img:hover,
.picture-two img:hover,
.picture-three img:hover{
transform: scale(1.1);
}

.picture-name-two {
  position: absolute;
  width: 97px;
  height: 22px;
  top: 300px;
  left: 94px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #545454;
  z-index: 6;
}

.input-button-secondary-two{
  position: absolute;
  width: 187px;
  height: 52px;
  top:353px;
  left: 41.5px;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  border-radius: 100px;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #292929;
  transition: all 0.5s ease;
  z-index: 6;
}

.card-three{
  position: absolute;
  width: 270px;
  height: 435px;
  top: 0;
  left: 825px;
  border-radius: 9px;
  background-color: #FAFAFA;
  overflow: hidden;
}

.picture-name-three{
  position: absolute;
  width: 74px;
  height: 23px;
  top: 300px;
  left: 101px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #545454;
  z-index: 6;
}

.input-button-secondary-three{
  position: absolute;
  width: 187px;
  height: 52px;
  top:353px;
  left: 41.5px;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  border-radius: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #292929;
  transition: all 0.4s ease;
  z-index: 6;
}

.help{
  position: relative;
  width: 1280px;
  height: 611px;
  background-color: #FFFFFF;
}

.help-content{
  position: absolute;
  width: 1200px;
  height: 431px;
  top: 80px;
  left: 40px;
}

.help-heading{
  position: absolute;
  width: 308px;
  height: 90px;
  top:  0px;
  left: 446px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;
  font-weight: 400;
  color: #545454;
  white-space: nowrap;
}

.help-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1026px;
  height: 281px;
  top: 150px;
  left: 87px;
}


.help-list-first{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 119px;
  justify-content: center;
  list-style: none;
}

.help-list-first-line{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.help-list-first-line h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #545454;
  width: 100%;
  height: 23px;
  text-align: center;
  white-space: nowrap;
}

.help-list-first-line img{
  width: 60px;
  height:  60px;
  display: flex;
}

.line{
  height: 113px;
}

.donation-cover{
  position: relative;
  width: 100%;
  height: 462px;
  background-color: #F6F6F6;
}

.donation{
  position: relative;
  width: 1280px;
  height: 462px;
  margin: 0 auto;
  background-color: #F6F6F6;
}

.donation-contents{
  position: absolute;
  width: 915px;
  height: 282px;
  top:  80px;
  left: 183px;
}

.donation-dog{
  position: absolute;
  width: 505px;
  height: 261px;
  top: 11px;
  left: 0;
}

.donation-dog-img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.donation-content-info{
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
  height: 282px;
}

.heading-content h3{
  position: absolute;
  top:  0;
  left: 0;
  width: 300px;
  height: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;
  font-weight: 400;
  color: #545454;
  white-space: nowrap;
}

.subheading-content h5{
  position: absolute;
  width: 307px;
  height: 17px;
  top: 110px;
  left: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.9px;
  font-weight: 400;
  color: #545454;
  white-space: nowrap;
}

.credit-card{
  position: absolute;
  top: 147px;
  left: 0;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
}

.credit-card img{
  display: flex;
  position: absolute;
  top: 10px;
  left: 15px;
}

.credit-card-number h4{
  position: absolute;
  width: 274px;
  height: 23px;
  top: 10px;
  right: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.2px;
  font-weight: 400;
  white-space: nowrap;
  color: #545454;
}

.Legal-information{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 380px;
  height: 72px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer-cover{
  position: relative;
  width: 100%;
  height: 350px;
  background-image:  url('../img/bg-gradient.png'), url('../img/footer-bg.png');
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

  .footer{
    position: relative;
    width: 1280px;
    height: 350px;
    margin: 0 auto;
  }

  .footer-content{
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 1200px;
    height: 310px;
  }

  .contact-box{
    position: absolute;
    top: 16px;
    left: 0;
    width: 278px;
    height: 234px;
  }

  h3.box-title{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 279px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    font-weight: 400;
    color:  #FFFFFF;
    flex-wrap: wrap;
  }

  .box-mail{
    position: absolute;
    top:  130px;
    left: 0;
    width: 251px;
    height: 32px;
  }

  .mail-subtitle{
    position: absolute;
    width: 191px;
    height: 23px;
    top: 5px;
    right: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    font-weight: 400;
    color:  #F1CDB3;
  }

  .box-phone{
    position: absolute;
    top:  202px;
    left: 0;
    width: 239px;
    height: 32px;
  }

  .phone-subtitle{
    position: absolute;
    width: 179px;
    height: 23px;
    top: 5px;
    right: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    font-weight: 400;
    color:  #F1CDB3;
    white-space: nowrap;
  }

.location-box{
  position: absolute;
  top: 16px;
  left: 438px;
  width: 302px;
  height: 234px;
}

h3.box-location-title{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 270px;
  height: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;
  font-weight: 400;
  color:  #FFFFFF;
  flex-wrap: wrap;
}

.box-location-position-first{
  position: absolute;
  top:  124px;
  left: 0;
  width: 302px;
  height: 46px;
  align-items: center;
}

.location-icon{
  position: absolute;
  left: 0;
  top: 6px;
  width: 22px;
  height: 32px;
}

.location-subtitle{
  position: absolute;
  width: 260px;
  height: 46px;
  top: 0;
  right: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #F1CDB3;
}

.box-location-position-second{
  position: absolute;
  top:  202px;
  left: 0;
  width: 302px;
  height: 32px;
}

.location-subtitle-two{
  position: absolute;
  width: 260px;
  height: 23px;
  bottom: 4px;
  right: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #F1CDB3;
}

.footer-img{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 310px;
}

.footer-img img{
width: 100%;
height: 100%;
}

/* ------------------------------ part for our-pets.html ------------------------------ */

 body.our-pets{
  display: flex;
  width: 100%;
  height: 1812px;
  position: relative;
  background-color: #FFFFFF;
 }

 .header-our-pets{
  position: absolute;
  top: 0px;
  width: 1280px;
  height: 120px;
  background-color: #FFFFFF;
}

.menu-burger-op{
  position: absolute;
  display: none;
}

.our-pats-op{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 60px;
}

.our-pets-logo{
  display: flex;
  width: 186px;
  height: 60px;

}

.our-pets-logo a{
  position: relative;
  width: 100%;
  height: 100%;
}

.our-pets-logo h1{
  position: absolute;
  top: 0;
  left: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.5px;
  letter-spacing: 1.92px;
  color: #545454;
}

.our-pets-logo p{
  position: absolute;
  bottom: 0;
  left: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 1.3px;
  color: #292929;
}

.nav-menu-op{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 443px;
  height: 27px;
  list-style: none;
  right: 0px;
  top: 18px;
  font-size: 15px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header-our-pets nav{
  position: absolute;
  display: flex;
  width: 443px;
  height: 60px;
  top: 0;
  right: 0;
}

.nav-menu-op li a{
color: #545454;
transition: all 0.4s ease;
}

.nav-menu-1-op:hover,
.nav-menu-3-op:hover,
.nav-menu-4-op:hover{
  color: #292929;
}

.nav-menu-1-op{
  width: 114px;
  height: 24px;
}

.nav-menu-3-op{
  width: 106px;
  height: 24px;
}

.nav-menu-4-op{
  width: 60px;
  height: 24px;
}

.nav-menu-2-op{
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
  width: 58px;
  height: 24px;
}

.nav-menu-2-op li a{
  color: #292929;
}

.cover-our-frends-op{
  position: relative;
  top: 120px;
  width: 100%;
  height: 1342px;
  background-color: #F6F6F6;
}

.pets-op{
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 1342px;
}

.pets-content-op{
  position: absolute;
  width: 1200px;
  height: 1162px;
  top:  80px;
  left: 40px;
}

.pets-content-op h3.content-heading-op{
  position: absolute;
  width: 400px;
  height: 90px;
  top: 0;
  left: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;
  font-weight: 400;
  color: #545454;
  text-align: center;
}

.cards-conteiner-op{
  position: absolute;
  width: 1200px;
  height: 930px;
  top:  135px;
  left: 0;
}

.conteiner-op{
  display: flex;
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 15px 0;
}

.line-op{
  position: relative;
  display: flex;
  width: 270px;
  height: 435px;
  margin: 0;
  border-radius: 9px;
  overflow: hidden;
  background-color: #FAFAFA;
}

.line-op:hover{
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.line-op:hover input{
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #F6F6F6;
}

.line-op img{
  position: absolute;
  width: 270px;
  height: 270px;
  top: 0;
  left: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition: transform 0.4s ease;
}

.line-op img:hover{
  transform: scale(1.1)
}

.line-op span{
  position: absolute;
  width: 74px;
  height: 23px;
  top: 300px;
  left: 98px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 22.72px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #545454;
}

.line-op input{
  position: absolute;
  width: 187px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  top: 353px;
  left: 41.5px;
  border-radius: 100px;
  border:  2px solid #F1CDB3;
  background-color: #FFFFFF;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
  font-weight: 400;
  transition: all 0.3s ease;
  color: #292929;
}

.remove-button{
  position: absolute;
  width: 340px;
  height: 52px;
  bottom: 0;
  left: 430px;
}

.four-buttons{
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
}

.down-button{
  position: absolute;
  display: flex;
  margin: 0;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  transition: all 0.4s ease;
}

.down-button:hover{
  cursor: not-allowed;
}

.button-next-right:hover,
.button-last-right:hover{
background-color: #F1CDB3;
cursor: pointer;
}

.button-start-left{
  top: 0;
  left: 0;
}

.button-next-left{
  top: 0;
  left: 72px;
}

.button-number{
  top: 0;
  left: 144px;
}

.button-number:hover{
cursor: default;
}

.button-next-right{
  top: 0;
  right: 72px;
}

.button-last-right{
  top: 0;
  right: 0px;
}

.footer-cover-op{
  position: relative;
  top: 120px;
  width: 100%;
  height: 350px;
  background-image:  url('../img/bg-gradient.png'), url('../img/footer-bg.png');
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

  .footer-op{
    position: relative;
    width: 1280px;
    height: 350px;
    margin: 0 auto;
  }

  .footer-content-op{
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 1200px;
    height: 310px;
  }

  /* -----------  @media (min-width: 768px) and (max-width: 1280px) for Main------------------------- */

  @media (min-width: 768px) and (max-width: 1279px){

    body{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 5291px;
    }

    .start-screen{
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 1165px;
    }

    header{
      top: 30px;
      left: 3.9%;
      width: 92.2%;
      height: 60px;
      margin: 0 0;
    }

    header nav{
      position: absolute;
      width: 443px;
      height: 27px;
      right: 0px;
      top: 16px;
    }

    .start-screen-content{
      width: 74.1vw;
      height: 1015px;
      top: 150px;
      left: 99px;
      margin: 0 0;
    }

    .under-cover{
      position: relative;
      width: 100%;
      height: 1165px;
    }

    .content{
      width: 460px;
      height: 322px;
      top: 0;
      left: 55px;
    }

    .content .heading{
      top: 0px;
      left: 0px;
    }

    .content .subheading{
      width: 60vw;
      height: 72px;
      bottom: 94px;
      left: 0;

    }

    .content-button{
      width: 207px;
      height: 52px;
      padding: 15px 45px;
      left: 126px;
      bottom: 0;
    }

    .start-screen-puppy{
      width: 569px;
      height: 593px;
      left: auto;
      right: -70px;
      bottom: 0px;
      background-size: cover;
    }

    .about{
      position: relative;
      width: 100%;
      height: 1048px;
    }

    .about-content{
      position: absolute;
      width: 57%;
      height: 868px;
      left: 21.5%;
      top: 80px;
      z-index: 2;
      }


    .about-pets{
      width: 300px;
      height: 408px;
      left: 50%;
      transform:  translateX(-50%);
      bottom: 0;
    }

   .about-text-first,
   .about-text-second{
     width: 100%;

   }

    .about-pets-content{
      width: 98.4%;
      left: 4px;
      top: 0;
    }

    .our-frend-cover{
      height: 877px;
    }

    .pets{
      width: 768px;
      height: 877px;
    }

    .pets-content{
      width: 708px;
      height: 697px;
      top: 80px;
      left: 30px;
    }

    .our-friends h3{
      width: 400px;
      height: 90px;
      top: 0;
      left:  154px;
    }

    .pets-button-primary{
      bottom: 0;
      left: 224px;
      width: 260px;
      height: 52px;
    }

    .pets-slider{
      width: 708px;
      height: 435px;
      top: 150px;
      left: 0;
    }

    .card-one{
      width: 270px;
      height: 435px;
      top: 0;
      left: 64px;
    }

    .card-two{
      top: 0;
      left: 374px;
    }

    .card-three{
      left: -9999px;
    }

    .help{
      position: relative;
      width: 768px;
      height: 779px;
    }

    .help-content{
      width: 630px;
      height: 599px;
      top: 80px;
      left: 69px;
    }

    .help-heading{
      left: 161px;
    }

    .help-list{
      width: 632px;
      height: 449px;
      bottom: 0;
      left: 0;
    }

    .line{
      width: 171px;
      height: 113px;
    }

    .help-list-first{
      justify-content: flex-start;
      row-gap: 55px;
      column-gap: 59px;
      flex-wrap: wrap;
    }

    .help-list{
      display: flex;
      position: absolute;
      flex-direction: row;
    }

    .donation-cover{
      width: 100%;
      height: 783px;
    }

    .donation{
      width: 768px;
      height: 783px;
    }

    .donation-contents{
      width: 768px;
      height: 783px;
      top:  0;
      left: 0;
    }

    .donation-content-info{
      top: 80px;
      right: 194px;
      width: 380px;
      height: 282px;
    }

    .donation-dog{
      position: absolute;
      width: 505px;
      height: 261px;
      top: 422px;
      left: 131px;
    }

    .footer-cover{
      width: 100%;
      height: 639px;
    }

    .footer{
      width: 768px;
      height: 639px;
    }

    .footer-content{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 768px;
      height: 639px;
    }

    .contact-box{
      top: 30px;
      left: 64px;
      width: 278px;
      height: 234px;
    }

    .location-box{
      top: 30px;
      left: 402px;
      width: 302px;
      height: 234px;
    }

    .footer-img{
      top: auto;
      bottom: 0;
      right: 234px;
    }


  /* -----------  @media (min-width: 768px) and (max-width: 1280px) for Our  friends------------------------- */

  body.our-pets{
    height: 2492px;
    width: 100%;
   }

   .header-our-pets{
    position: relative;
    top: 0;
    left: auto;
    margin: 0 auto;
    width: 100%;
    height: 120px;
  }

  .our-pats-op{
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 92.2%;
    height: 60px;
  }

  .cover-our-frends-op{
    top: 0;
    width: 100%;
    height: 1733px;
  }

  .pets-op{
    position: relative;
    margin: 0 auto;
    width: 768px;
    height: 1733px;
  }

  .pets-content-op{
    width: 708px;
    height: 1603px;
    top:  60px;
    left: 30px;
  }

  .pets-content-op h3.content-heading-op{
    top: 20px;
    left: 154px;
  }

  .cards-conteiner-op{
    width: 580px;
    height: 1365px;
    top:  140px;
    left: 64px;
  }

  .conteiner-op{
    width: 580px;
    height: 1365px;
    padding: 0 0;
    row-gap: 30px;
    column-gap: 20px;
  }

  .conteiner-op-line-7,
  .conteiner-op-line-8{
    display: none;
  }

  .remove-button{
    width: 340px;
    height: 52px;
    bottom: 6px;
    left: 184px;
  }

  .footer-cover-op{
    top: 0;
    width: 100%;
    height: 639px;
    overflow: hidden;
  }

    .footer-op{
      position: relative;
      width: 768px;
      height: 639px;
      margin: 0 auto;
    }

    .footer-content-op{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 768px;
      height: 639px;
    }

    .contact-box{
      top: 30px;
      left: 64px;
      width: 278px;
      height: 234px;
    }

    .location-box{
      top: 30px;
      left: 402px;
      width: 302px;
      height: 234px;
    }

    .footer-img{
      position: absolute;
      top: auto;
      right: 234px;
      bottom: 0;
      width: 300px;
      height: 310px;
    }


  }

  /* -----------  @media (min-width: 320px) and (max-width: 768px)------------------------- */


  @media (min-width: 310px) and (max-width: 767px){

    body{
      height: 4684px;
    }

    .under-cover{
      width: 100%;
      height: 823px;
    }

    .start-screen{
      position: relative;
      top:  0;
      left: 0;
      margin: 0 auto;
      width: 100%;
      height: 823px;
    }

    header{
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 87.5%;
      height: 60px;
      margin: 0 0;
    }

    .logo{
      position: absolute;
      width: 184px;
      height: 60px;
      top: 0;
      left: 0;
    }

    .logo h1{
      top: 0;
      left: 0;
      line-height: 35.2px;
      width: 186px;
      height: 35px;
    }

    .logo p{
      width: 180px;
      height: 15px;
      bottom: 0;
      left: 4px;
    }

    header nav{
      width: 30px;
    }

    .nav-menu{
      display: none;
    }

    .menu-burger{
      display: flex;
      top: 19px;
      right: 0;
      transition: transform 0.3s ease;
    }

    .menu-burger:hover{
      cursor: pointer;
      transform: scale(1.1)
    }

    .menu-burger img{
      transition: transform 0.3s ease;
    }

    .menu-burger img:hover{
      transform: scale(1.1)
    }

    .start-screen-content{
      width: 93.7%;
      height: 673px;
      bottom: 0px;
      left: 3.1%;
      margin: 0 0;
    }

    .content{
      width: 100%;
      height: 296px;
      left: 0;
      bottom: 377px;
    }

    .content .heading{
      width: 100%;
      height: 64px;
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.5px;
      font-weight: 400;
      text-align: center;
    }

    .content .subheading{
      width: 100%;
      height: 96px;
      bottom: 94px;
      left: 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
    }

    .content-button{
      width: 207px;
      height: 52px;
      padding: 15px 45px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }

    .start-screen-puppy{
      width: 260px;
      height: 271.77px;
      right: 0;
      bottom: 0px;
      background-size: cover;
    }

    .about{
      width: 100%;
      height: 974px;
    }

    .about-content{
    width: 93.7%;
    height: 890px;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
    }

    .about-pets-content{
      width: 100%;
      height: 494px;
      left: 0;
      bottom: 396px;
    }

    .content-head{
      width: 100%;
      height: 494px;
    }
    .content-head h3{
      width: 300px;
      height: 64px;
      font-weight: 400;
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.5px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }

    .about-text-first{
      width: 90%;
      height: 144px;
      top: 89px;
      left: 50%;
      transform: translateX(-50%);
      text-align: justify;
    }

    .about-text-second{
      width: 90%;
      height: 239px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: justify;
    }

    .about-pets{
      width: 260px;
      height: 353.6px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0.4px;
      background-size: cover;
    }

    .our-frend-cover{
      width: 100%;
      height: 791px;
    }

    .pets{
      width: 320px;
      height: 791px;
      margin: 0 auto;
    }

    .pets-content{
      width: 300px;
      height: 707px;
      top: 42px;
      left: 10px;
    }

    .our-friends h3{
      text-align: center;
      width: 300px;
      height: 64px;
      top: 0;
      left: 0;
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.5px;
    }

    .pets-slider{
      width: 270px;
      height: 507px;
      top: 106px;
      left: 15px;
    }

    .button-arrow-left{
      top: 455px;
      left:43px;
    }

    .button-arrow-right{
      top: 455px;
      right: 43px;
    }

    .card-one{
      width: 270px;
      height: 435px;
      top: 0;
      left: 0;
    }

    .card-two,
    .card-three{
      display: none;
  }

  .pets-button-primary{
    bottom: 0;
    left: 20px;
    width: 260px;
    height: 52px;
  }

  .help{
    width: 320px;
    height: 745px;
  }

  .help-content{
    width: 320px;
    height: 745px;
    top: 0;
    left: 0;
  }

  .help-heading{
    width: 220px;
    height: 64px;
    top:  42px;
    left: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 1.5px;
  }

  .help-list{
    width: 290px;
    height: 555px;
    top: 148px;
    left: 15px;
    flex-direction: row;
  }

  .line{
    width: 130px;
    height: 87px;
  }

  .help-list-first{

    justify-content: space-between;
    row-gap: 30px;
    column-gap: 15px;
    flex-wrap: wrap;
  }

  .help-list-first-line h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 29.5px;
    letter-spacing: 0.9px;
  }

  .help-list-first-line img{
    height: 50px;
  }

  .donation-cover{
    width: 100%;
    height: 542.2px;
  }

  .donation{
    width: 320px;
    height: 542.2px;
  }

  .donation-contents{
    width: 320px;
    height: 542.2px;
    top:  0;
    left: 0;
  }

  .donation-content-info{
    top: 42px;
    right: 10px;
    width: 300px;
    height: 281px;
  }

  .donation-dog{
    width: 260px;
    height: 135.2px;
    top: 365px;
    left: 30px;
  }

  .heading-content h3{
    text-align: center;
    top:  0;
    left: 0;
    width: 300px;
    height: 64px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 1.5px;
  }

  .subheading-content h5{
    width: 273px;
    height: 24px;
    top: 84px;
    left: 13px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .credit-card{
    top: 128px;
    left: 9px;
    width: 281px;
    height: 43px;
  }

  .credit-card-number{
    position: absolute;
    width: 251px;
    height: 23px;
    top: 10px;
    right: 15px;
  }

  .credit-card a{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .credit-card-number h4{
    position: absolute;
    width: 206px;
    height: 17px;
    top: 3px;
    right: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.9px;
  }

  .Legal-information{
    bottom: 0;
    right: 10px;
    width: 280px;
    height: 90px;
    text-align: justify;
    }

    .footer-cover{
      width: 100%;
      height: 809px;
    }

    .footer{
      width: 320px;
      height: 809px;
    }

    .footer-content{
      left: 10px;
      bottom: 0px;
      width: 300px;
      height: 779px;
    }

    .footer-img{
      top: 510px;
      right: 20px;
      width: 260px;
      height: 269px;
    }

    .footer-img img{
    width: 100%;
    height: 100%;
    background-size: auto, cover;
    }

    .contact-box{
      top: 0;
      left: 11px;
      width: 278px;
      height: 208px;
    }

    h3.box-title{
      width: 278px;
      height: 64px;
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.5px;
      text-align: center;
      white-space: wrap;
    }

    .box-mail{
      top:  0;
      left: 0;
      width: 251px;
      height: 32px;
    }

    a.email-link{
      position: absolute;
      top:  104px;
      left: 14px;
      width: 251px;
      height: 32px
    }

    .phone-link{
      position: absolute;
      top:  176px;
      left: 20px;
      width: 239px;
      height: 32px;
    }

    .box-phone{
      top:  0;
      left: 0;
      width: 239px;
      height: 32px;
    }

    .footer-location{
      position: absolute;
      width: 300px;
      height: 222px;
      bottom: 309px;
      left: 0;
    }

    .location-box{
      width: 300px;
      height: 222px;
      top: auto;
      bottom: 0;
      left: 0;
    }

    h3.box-location-title{
      top: 0;
      left: 15px;
      width: 270px;
      height: 64px;
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.5px;
      text-align: center;
      white-space: wrap;
    }

    .box-location-position-first{
      top:  104px;
      left: 0;
      width: 300px;
      height: 46px;
      align-items: center;
    }

    .box-location-position-second{
      top:  190px;
      left: 0;
      width: 300px;
      height: 32px;
    }

/* ----------------------------------------------------------------OUR PETS 320px-- */

body.our-pets{
  height: 2578px;
  width: 100%;
 }

 .header-our-pets{
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 120px;
}

.our-pats-op{
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 87.5%;
  height: 60px;
  margin: 0;
}

    .nav-menu-op{
      display: none;
    }

    .menu-burger-op{
      position: absolute;
      display: flex;
      width: 30px;
      height: 22px;
      top: 19px;
      right: 0;
      transition: transform 0.3s ease;
    }

    .menu-burger-op:hover{
      cursor: pointer;
      transform: scale(1.1)
    }

    .menu-burger-op img{
      transition: transform 0.3s ease;
    }

    .menu-burger-op img:hover{
      transform: scale(1.1)
    }

    .cover-our-frends-op{
      width: 100%;
      height: 1649px;
    }

    .pets-op{
      width: 320px;
      height: 1649px;
    }

    .pets-content-op{
      width: 300px;
      height: 1565px;
      top:  42px;
      left: 10px;
    }


    .pets-content-op h3.content-heading-op{
      width: 300px;
      height: 64px;
      top: 0;
      left: 0;
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.5px;
}

.cards-conteiner-op{
  width: 270px;
  height: 1365px;
  top:  106px;
  left: 15px;
}

.conteiner-op{
  width: 270px;
  height: 1365px;
  row-gap: 30px;
  padding: 0;
}

.conteiner-op-line-4,
.conteiner-op-line-5,
.conteiner-op-line-6,
.conteiner-op-line-7,
.conteiner-op-line-8{
  display: none;
}

.remove-button{
  width: 300px;
  height: 52px;
  bottom: 0;
  left: 0;
  column-gap: 10px;
}

.button-next-left{
  left: 62px;
}

.button-number{
  top: 0;
  left: 124px;
}

.button-number:hover{
cursor: default;
}

.button-next-right{
  right: 62px;
}

.footer-cover-op{
  position: relative;
  top: 120px;
  width: 100%;
  height: 809px;
}

  .footer-op{
    position: relative;
    width: 320px;
    height: 809px;
    margin: 0 auto;
  }

  .footer-content-op{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 779px;
  }

  .contact-box{
    top: 0;
    left: 11px;
    width: 278px;
    height: 208px;
  }
  .contact-box-op{
    left: 21px;
  }

  .fl{
    width: 300px;
    height: 222px;
    bottom: 309px;
    left: 10px;
  }

  .lb{
    top: 0;
    left: 0;
    width: 300px;
    height: 222px;
  }

  .fi{
    position: absolute;
    top: auto;
    right: 30px;
    bottom: 0;
    width: 260px;
    height: 269px;
  }

  }

