

*{
  margin: 0px;
  padding: 0px;
  outline: none;
}

a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 24px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3796px;
}

.start-screen{
  position: relative;
  width: 1280px;
  height: 908px;
  background-color: #211F20;
  background-image: url('../img/c5b8a886026e848cb10cec0e5f7245d0.png');
  /* background: 
        radial-gradient(at left center, #5B493A, #262425);
         */
}

header{
  position: absolute;
  top: 30px;
  width: 1200px;
  height: 60px;
  margin: 0 40px;
}

.logo{
  display: flex;
  width: 186px;
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.5px;
  letter-spacing: 1.92px;
  color: #F1CDB3;
}

.logo p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 1.3px;
  color: #FFFFFF;
}

.nav-menu{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 443px;
  height: 27px;
  list-style: none;
  display: flex;
  right: 0px;
  top: 18px;
}

.nav-menu a:hover{
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

li{
  margin-left: 20px;
}

.start-screen-content{
  position: absolute;
  width: 1200px;
  height: 728px;
  bottom: 0px;
  margin: 0 40px;
}

.content{
  position: absolute;
  width: 460px;
  height: 322px;
  bottom: 243px;
}

.start-screen-puppy{
  position: absolute;
  width: 698px;
  height: 728px;
  right: 0;
  bottom: 0px;
  background-image: url('../img/f746a683887b0e363f7fdf5b80559e0b.png');

}

.content .heading{
  position: absolute;
  top: 0px;
  left: 0;
  font-family: Georgia;
  font-size: 44px;
  line-height: 57.2px;
  font-weight: 100;
  color: #FFFFFF;
}

.content .subheading{
  position: absolute;
  bottom: 72px;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.content-button{
  position: absolute;
  width: 207px;
  height: 52px;
  padding: 15px 45px;
  left: 0;
  bottom: 0;
  background-color: #F1CDB3;
  color: #292929;
  border-radius: 100px;
  border: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 1px;
  font-weight: 400;
  z-index: 4;
}
  
.content-button:hover{
  background-color: #FDDCC4;
  cursor: pointer;
}

/* span .button-text{
  display: none;
  flex-shrink: 1;
  background-color: red;
  color: green;
} */