@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Orbitron&family=Roboto+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron&family=Roboto+Mono:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
}

 body{
  display: flex;
  width: 100%;
  height: 100svh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  align-items: center;
 }

 .screen-saver{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100svh;
  background-color: #FFFFFF;
  transition: opacity 1s ease-out;
  z-index: 6;
 }

 .imgScreen{
  position: absolute;
  display: flex;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/cat.gif);
  background-size: cover;
  font-size: 2vw;
}

.imgScreen span{
  position: absolute;
  display: flex;
  top: -4vw;

}


 .loading{
  display: flex;
  width: 100%;
  height: 100svh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-in;
 }

 .topLine{
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 14svh;
  top: 0;
  left: 0;
  z-index: 1;
 }

 .topPhotoLine{
  display: flex;
  width: 99%;
  height: 14svh;
  margin: 0.5vw auto;
  gap: 0.5vw;
  transition: opacity 0.4s ease-in;
 }

 .preview{
  display: flex;
  width: 25%;
  height: 14svh;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
 }

 main{
  position: relative;
  display: flex;
  width: 100%;
  height: 100svh;
  justify-content: center;
 }

 .background{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
 }

 .white-background{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 79%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 3vw;
 }

 .image-finder{
  position: absolute;
  display: flex;
  color: #B1B1B1;
  transform: translate(-20%, 112%);
  font-size: 0.95vw;
  font-family: "Anton SC", sans-serif;
  z-index: 1;
  transition: color 0.4s ease-in;
 }

 .image-finder2{
  position: absolute;
  display: flex;
  color: #B1B1B1;
  padding: 0 1vw;
  transform: translate(36%, 126%);
  font-size: 0.95vw;
  letter-spacing: 0.1vw;
  font-family: "Anton SC", sans-serif;
  z-index: 1;
 }

 .white-background h1{
  display: flex;
  white-space: nowrap;
  text-align: center;
  color: #CDCDCDCD;
  font-size: 10vw;
  font-family: "Anton SC", sans-serif;
  letter-spacing: 1vw;
  opacity: 0.8;
  transition: color 0.4s ease-in, opacity 0.4s ease-in;
}

main .icon-search{
  position: absolute;
  display: flex;
  width: 40%;
  padding: 0 1vw;
  top: 50%;
  transform: translateY(220%);
  line-height: 4vw;
  font-size: 3vw;
  font-weight: 700;
  color: #cdcdcd91;
  background-color: #FFFFFF;
  border: 1px solid #F6F6F6;
  border-radius: 4vw;
  transition: width 0.1s ease-in;
  z-index: 3;
}
.icon-search:hover{
  width: 41%;
  cursor: pointer;
}

.white-block{
  position: absolute;
  display: flex;
  width: 5vw;
  height: 5vw;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  top: 1.7vw;
  left: -2.7vw;
  transition: background-color 0.6s ease-in;
}

.white-block:hover{
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  top: 1.5vw;
  left: -2.4vw;
  cursor: pointer;
}

.enter-text{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
  padding: 0 1vw;
  color:#00a5ff;
  border: 0;
  border-radius: 4vw;
  flex: 7;
  transition: padding 6s ease-in-out;
}

.enter-text:hover{
  cursor: pointer;
}

.white-block .fa-pepper-hot{
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 2vw;
  line-height: 5vw;
  text-align: center;
  margin: 0 1.3vw;
}

.icon-search .material-symbols-outlined{
  display: flex;
  font-size: 3.7vw;
  align-items: center;
}

.bottonLine{
  position: absolute;
  display: flex;
  overflow: hidden;
  align-items: end;
  width: 100%;
  height: 14svh;
  left: 0;
  bottom: 0;
}

.bottomPhotoLine{
  display: flex;
  width: 99%;
  height: 14svh;
  margin: 0.5vw auto;
  gap: 0.5vw;
  transition: opacity 0.4s ease-in;
 }

 .photoBlockFromUnSplash{
  position: relative;
  display: none;
  width: 100%;
  top: 50%;
  left: 50%;
  flex-wrap: wrap;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: #EBEBEB;
  z-index: 1;
  gap: 1vw;
 }

 .imageCard{
  display: flex;
  width: 19vw;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
 }

 .nextPage{
  position: fixed;
  display: none;
  width: 4vw;
  height: 1.7vw;
  bottom: 0;
  opacity: 0.8;
  background-color: #FFFFFF;
  z-index: 7;
  transition: all 0.6s linear;
}

.nextPage:hover{
  cursor: pointer;
  background-color: #00A5FF;
}

.fa-arrow-down{
  font-size: 1.6vw;
  opacity: 0.3;
  margin: 0 auto;
}

.home{
  opacity: 0;
  color: black;
}

/* .github-logo{
  display: flex;
  width: 1.5vw;
}

.github-logo .fa-github{
  font-size: 2.5vw;
}

.rs-school{
display: flex;
width: 2.5vw;
height: 2.5vw;
background-image: url(../img/rss-logo.svg);
background-size: cover;
}

.github-logo:hover,
.rs-school:hover{
  cursor: pointer;
}

.year{
  font-size: 2vw;
} */


@media (max-width: 700px){
.previewPhoto6,
.previewPhoto7{
  display: none;
}
.enter-text{
height: 5vw;
}
}

/* .unsplash-logo{
display: flex;
font-size: 1vw;
align-self: center;
flex: 1;
} */
